<div class="text-center">
  <h2>{{notename}}</h2>

  <p>{{description}}</p>
  <p>Created by {{usertable.name}} on {{ format_date date_created}}</p>
  {{#if logged_in}}
   {{!-- <form class="form new-comment-form"></form> --}}
  <p> Leave a comment: </p>
  <div class="col-md-12">
    <textarea class="text1" id="note-comment" name="note-comment"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Submit Comment</button>
  </div>
  <br>
  {{!-- {{/if}}
  <p>Previous Comments: </p>
  {{#if comment.id}}
  <p></p>
  {{else}} --}}
  
  {{!-- <p>There are no comments for this post </p> --}}
  {{/if}}

</div>
